.header {
  display: flex;
  justify-content: space-between;
}

.clear-all {
  border: 0px;
  border-radius: 40px;
  padding: 12px;
  margin: 24px;
  background-color: aquamarine;
  font-weight: 100px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.container {
  max-width: 650px;
  margin: 0 auto;
}

.input {
  border: 0px;
  border-radius: 40px;
  background: #292d4a;
  outline: 0;
  color: #ebe7e7;
  font-size: 1.3rem;
  padding: 1rem;
}

.select {
  border: 0px;
  border-radius: 40px;
  background: #292d4a;
  outline: 0;
  color: #ebe7e7;
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
  background-position-x: 98%;
  background-position-y: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23a9a9a9' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
}

label {
  font-size: 20px;
  font-weight: 16px;
  margin: 10px;
}

.add-button {
  width: 97%;
  border: 0px;
  border-radius: 40px;
  padding: 12px;
  margin-top: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  background-color: aquamarine;
}

form {
  display: block;
  margin-top: 0em;
}

.block {
  padding: 1.5rem, 3rem;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 45px;
}

.filter-button {
  border: 0px;
  border-radius: 20px;
  padding: 12px;
  margin-top: 2rem;
  background-color: aquamarine;
  cursor: pointer;
}

.todoList {
  width: 100%;
}

ul {
  padding-left: 0px;
}

.todo_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #292d4a;
  margin-bottom: 1.5rem;
  padding: 1.1rem;
  border-radius: 5px;
  color: #ebe7e7;
}

.todo-details {
  border-left: 2.5px solid;
  border-left-color: aquamarine;
  padding-left: 1.3rem;
  margin: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.todo_action {
  display: flex;
  gap: 1rem;
}

.mark-as-done {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #090344;
}

.todo-name {
  font-size: 1.2rem;
  font-weight: 400;
}

.todo-priority {
  font-size: 1.1rem;
  margin-left: 0;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  background-color: aquamarine;
  padding: 10px;
  border-radius: 50%;
  color: #090344;
}

.all-button {
  width: 60px;
}

.error {
  color: #f51403;
  font-size: 1rem;
  position: relative;
  left: 1.5rem;
  margin-bottom: 0;
  margin-top: 12px;
}

.completed {
  text-decoration: line-through;
}

@media only screen and (max-width: 320px) {
  .filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 45px;
  }
  .all-button {
    width: 100%;
  }

  label {
    font-size: 15px;
  }

  .input {
    border: 0px;
    border-radius: 40px;
    background: #292d4a;
    outline: 0;
    color: #ebe7e7;
    font-size: 0.8rem;
    padding: 0.8rem;
  }

  .select {
    border: 0px;
    border-radius: 40px;
    background: #292d4a;
    outline: 0;
    color: #ebe7e7;
    font-size: 0.8rem;
    padding: 0.8rem;
    background-position-x: 98%;
    background-position-y: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23a9a9a9' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 425px) {
  .todoList {
    margin: 5px;
  }
}
